$primaryColor: #ffffff;
$secondaryColor: #f65261;

$backgroundColor: #232323;
$secondaryBackgroundColor: #555555;
$thirdBackgroundColor: #ffffff;

$inputBackgroundColor: #424242;

$footerColor: #555555;
$borderColor: #ffffff;

$secondaryHoverColor: #e43745;
$secondaryFocusColor: #d87880;

$ratingColor: rgb(32, 165, 32);